body{
    /*width: 100%;*/
    text-align: center;
    /*background: url(../img/base-jumping.jpg) no-repeat bottom;*/
    background: url(../img/pexels-photo-194096.jpeg) no-repeat bottom;
    background-attachment:fixed;
    background-position:center; 
    background-size: 100% 100%;

    border:none;
    margin:0;
    padding:30px;
}
footer{
    margin-top: 30px;
    padding: 5px auto;
}
h1{
    color: white;
    text-shadow: 2px 2px 2px blue;
}
section{
    color: whitesmoke;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 3px 3px 3px black;
    border-radius: 4px;
}
h1:hover, section:hover {
    color: #fff;
    background: #033E6B;
    text-shadow: none;
}
[class^="icon-"]{
    color: darkblue;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 28px;
    text-shadow: 2px 2px 2px white;
}
[class^="icon-"]:hover{
    color: #fff;
    background: #033E6B;
    text-shadow: none;
}
.inter{
    height: 1px;
    border: 0;
    width: 600px;
    background: #033E6B;
}
