body{
    /*width: 100%;*/
    text-align: center;
}
footer{
    margin-top: 30px;
    padding: 5px auto;
}
h1{
    color: #033E6B;
}

[class^="icon-"]{
    color: #033E6B;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 28px;
}
[class^="icon-"]:hover{
    color: #fff;
    background: #033E6B;
}